
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300&display=swap');



 [value = "A. Mascotas"] {
	color: lightblue;

}
body{
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	background: black;
	color: white;
	font-weight: bold;
}
select{
	color: white;
	background: white;
	background-color: black;
	object-position: center;
	font-family:'Francois One', sans-serif;
	color:#fff;
	text-align:center;
	float: left;
    transition: margin-left .5s;
    padding: 5px;
}

select[type = "text"]{
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

[id = "race"]{
	color: white;
	background: white;
	background-color: black;
	object-position: center;
	font-family:'Francois One', sans-serif;
	color:#fff;
	text-align:center;
	float: left;
    transition: margin-left .5s;
    padding: 5px;
}

[id="uni"]{
	float: left;
    transition: margin-left .5s;
    padding: 5px;
}
[class="h"]{

 	float: right;
    padding: 80px;
}

select[class = "f"]{
	color: white;
	background: white;
	background-color: black;
	object-position: center;
	font-family:'Francois One', sans-serif;
	color:#fff;
	text-align:center;
	float: center;
    transition: margin-left .5s;
    padding: 5px;
}

[id = "formulario2"]{
	position: relative;
	width: 35%;
	height: 450px;
	padding-left: 20px;
	padding-top: 15px;
	border-radius: 50px;
	margin: auto;
	background-color: #212429;

}




table{
	color: white;
	border-style: solid;
	border-color: blue;
	width: 100%;
	margin: 0 auto;
	font-size: 120%;
	font-weight: bold;
	float: top;
}

[id="Info"]{
	position: absolute;
    bottom: 10px;
    width: 50%;
    border: 3px solid #8AC007;
}
[id="itembuscado"]{
	float: left;
    transition: margin-left .5s;
    padding: 2px;
    color: white;
	background: white;
	background-color: black;
	font-weight: bold;
}
[id="dangerous"]{
	float: left;
    transition: margin-left .5s;
    padding: 2px;
    color: white;
	background: white;
	background-color: black;
	font-weight: bold;
}
[id="especie"]{
	float: left;
    transition: margin-left .5s;
    padding: 2px;
    color: white;
	background: white;
	background-color: black;
	font-weight: bold;
}
[id="filtrado"]{
	float: left;
    transition: margin-left .5s;
    padding: 5px;
    font-weight: bold;
}
[id="ingresoM"]{
	text-align: center;
}
[id="sexo"]{
	text-align:center;
	float: left;
    transition: margin-left .5s;
}

[id= "Tamaño"]{
	text-align:center;
	float: left;
    transition: margin-left .5s;
}
[id= "peligroso"]{
    text-align:center;
	float: left;
    transition: margin-left .5s;
    color: white;
}
[id= "microchip"]{
    text-align:center;
	float: left;
    transition: margin-left .5s;
    color: white;
}
[id= "mDatos"]{
    color: white;
	background: white;
	background-color: black;
	font-weight: bold;
}

[id = "actualizar"]{
	color: white;
	background: white;
	background-color: black;
	font-weight: bold;
}
[id = "da"]{
	background-color: white;
	color: white;
	font-weight: bold;
}
[id = "crear"]{
	color: white;
	background: white;
	background-color: black;
	font-weight: bold;
}


[id= "form-floating mb-3"]{
    text-align:center;
	float: left;
    transition: margin-left .5s;
    color: white;
}
[id = "floatingInput"]{
	color: white;
}

[name = "AgregarMascota" ]{
	position: relative;
	width: 35%;
	height: 370px;
	padding-left: 20px;
	padding-top: 15px;
	border-radius: 20px;
	margin: auto;
	background-color: #212429;
}
input[type="submit"]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border: 0px;
	background-color:  #3E6A6F;
	color: white;
	font: 14px ;
}
[id = "enviar"]{
	color : white;
	background-color: black;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	text-align:center;
	float: left;
    transition: margin-left .5s;
}
[id = "botonatras"]{
	color: white;
	background: white;
	background-color: black;
	font-weight: bolder;
}
	[id = "botonadelante"]{
	color: white;
	background: white;
	background-color: black;
	font-weight: bold;
	}
input{
	color: black;
	background: white;
	background-color: white;
	font-weight: bold;
}
[id = "1"]{
	position: relative;
	width: 95%;
	padding-left: 100px;
	padding-top: 10px;
	margin:auto;
	border-style: solid;
	border-color: orange;
	color: white;
	font-size: 20px;
}